@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tagbanwa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Raleway:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800;900&display=swap');


:root {
    --color-violet700:#19153a;
    --color-violet600:#332a74;
    --color-violet500:#4d3fb0;
    --color-violet400:#6554ea;
    --color-violet300: #8c7eee;
    --color-violet200: #b2a9f4;
    --color-violet100: #d9d5f9;
    --color-violet10: rgba(244, 234, 245, 0.911);
    --color-black100: #222222;
    --color-grey100: rgba(121, 119, 119, 0.301);
    --color-grey200: rgba(35, 24, 39, 0.486);
    --color-green100: #6af0c6;
    --color-alert300: #ba3831;
    --color-alert200: #ec625b;
    --color-alert100: #ffdbde;
    --color-success300:#377e3f;
    --color-success200:#53b65a;
    --color-succes100:#ddf8e4;     
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    margin-top: 10%;
}
